*{
    margin: 0;
    padding: 0; 
 }
 .container{
     width: 1124px;
     margin: 0 auto;
     text-align: center;
    
 }
 .clearfix::after{
     content: '';
     display: block;
     clear: both;
 }
 .right{
     float: right;
 }
 .left{
     float: left;
 }
 .textcenter{
     text-align: center;
 } 

 /* header */
 .header_s{
     background: #22C3A3;
    
 }
 /* logo */
 .header_left.left a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    
}
.header_left.left{
    padding: 13px 0;
}
/* manu */
.header_righr{}
.header_righr ul{}
.header_righr ul li{
    display: inline-block;
}
.header_righr ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding: 0 17px;
    line-height: 50px;
    text-transform: uppercase;
}
.header_righr ul li a:hover{}


/* slider */
.slider{
    background: url(https://i.ibb.co/K5WYX2z/slider.jpg) no-repeat center;
    background-size:cover;
    padding: 100px 0;
    color: #fff;
}
.slider h1 {
    text-transform: uppercase;
    font-size: 39px;
    font-weight: bold;
    margin: 20px 0;
}
.slider p {
    font-size: 20px;
    margin-bottom: 79px;
}
.slider a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 25px;
    
}

/* service */
.services{
    color: #606060;
    border-bottom: 2px solid #0BBF9A;
}
.servic_title {
    text-align: center;
    margin: 48px 0;
}
.servic_title h2 {
    margin-bottom: 10px;
}

.single_servic {
    float: left;
    width: 25%;
    padding: 15px 14px;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.single_servic h2 {
    margin-bottom: 10px;
    font-size: 21px;
}
.single_servic p{}
.single_servic i {
    font-size: 22px;
    color: #0BBF9A;
    margin-bottom: 17px;
}


/* about */
.about{
    padding: 50px 0;
    color: #606060;
}
.content_left img {
    width: 100%;
}

.content_left{
    width: 40%;

}
.content_right {
    width: 60%;
    text-align: left;
    padding-left: 42px;
    box-sizing: border-box;
}
.content_right h2{
    margin-bottom: 10px;
}
.content_right p{
    margin-bottom: 10px;
}
.about_title {
    margin-bottom: 57px;
}
.about_title h2 {
    margin-bottom: 10px;
}


.contact_title h2{
  margin-bottom:10px;
}
.single_contact {
    width: 33%;
    float: left;
    margin: 48px 0;
}
.single_contact p {
    color: #606060;
    font-size: 15px;
    font-weight: normal;
}
.single_contact i {
    color: #0BBF9A;
    margin-bottom: 14px;
}

.footer_top{
  background:#0BBF9A
}
.footermanu{}
.footermanu ul{}
.footermanu ul li{
  display:inline-block
}
.footermanu ul li a{
   display:inline-block;
     padding:15px 5px;
  color:#fff;
  font-size:20px
}
.footerarea{
    background:#222222;
    line-height: 25px;
    height: 25px;
    color: #606060;
    padding: 10px 0;
}





@media (max-width:1224px) {
   
    .container {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width:1060px) {
    .header_left.left {
        padding: 13px 0;
            padding-left: 0px;
        padding-left: 10px;
    }

   
}
@media (max-width:900px) {
  .single_servic {
    width: 48%;

}

@media (max-width:787px) {
  .single_servic {
    width: 100%;
}
.about_title p {
    padding: 0 10px;
}
.contact_title p {
    padding: 0 10px;
}

}
@media (max-width:633px) {
    .logoRight ul li a {
    
        padding: 24px 8px;
   
    }
    .content_left {
        width: 100%;
    }
    .content_right {
        width: 100%;
        padding: 28px;
    }
   
    
}
@media (max-width:585px) {
    .header_left.left {
     
        width: 100%;
        text-align: center;
    }
    .header_righr {
        width: 100%;
        text-align: center;
        float: inherit;
    }
    
}
@media (max-width:480px) {
    .header_righr ul li a {
        font-size: 12px;
        padding: 0 7px;
     
    }
    .single_contact {
        width: 100%;
        float: left;
        margin: 23px 0;
    }
    
}
@media (max-width:380px) {
    .footerarea p {
        font-size: 14px;
    }
    
}

}
